[Unit]
Description=DPS-OS Daemon
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /opt/dps-os/daemon/daemon.py --db /opt/dps-os/daemon/config.sqlite
Restart=on-failure

[Install]
WantedBy=multi-user.target